.experience {
    padding: 20px;
  }
  
  .experience h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .experience-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .experience-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 80%; /* Adjust width as necessary */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s; /* Transition for hover effect */
  }
  
  .experience-item:hover {
    transform: translateY(-5px); /* Lift the card */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add shadow effect */
  }
  
  .experience-item h3 {
    margin: 0;
  }
  
  .experience-item p {
    font-style: italic;
    color: #666;
  }
  
  .experience-item ul {
    list-style-type: disc;
    padding-left: 20px; /* Indent list */
  }
  
  .experience-logo {
    width: 30px; /* Adjust the size as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Space between the logo and text */
    vertical-align: middle; /* Align the logo with the middle of the text */
  }
  